body {
    background-color: grey;
}

.box {
    width: 600px;
    margin: 150px auto;
    padding: 18px;
    background-color: rgb(75, 75, 106);
}

.title {
    background-color: gold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

ul {
    text-align: center;
    font-family: "DejaVu Sans", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

li {
    list-style: none;
    width: 60px;
    margin: 0 auto 0 35px;
    padding: 10px;
    background-color: grey;
    color: rgb(75, 75, 106);
}
