h1 {
    background-color: gold;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    text-align: center;
    font-family: "DejaVu Sans", Verdana, Geneva, Tahoma, sans-serif;
}

li .same {
    font-size: 100px;
}

#big-lamb {
    color: black;
}

#chicken {
    background-color: green;
    color: red;
}

#tofu {
    color: yellow;
    background-color: red;
    font-weight:800;
}